/*стилі для книжноі орієнтаціі*/
#main-page,
#page-anime-sort {
  overflow: auto;
  position: relative;
  justify-content: normal;
}

#input-search {
  width: 100%;
  height: clamp(40px, 8vh, 60px);
  outline: none;
  border: none;
  border-bottom: var(--border-2);
  padding: clamp(5px, 3vmin, 10px);
  background: transparent;
}

.top-10-anime {
  height: max-content;
  justify-content: normal;
  background: var(--gradient-4);
  width: 95%;
  margin: 4vmin 2.5% 0 2.5%;
  border-radius: 10px;
  border-top: var(--border-2);
  border-bottom: var(--border-2);
}

.recommend {
  height: max-content;
  min-height: 70%;
  justify-content: normal;
}

#text-top-anime,
#text-recommend-anime {
  margin-left: 10%;
  margin-right: 10%;
}

/*пагинация*/
#pagination {
  justify-content: space-between;
  flex-direction: row;
  height: clamp(60px, 10vh, 90px);
  width: clamp(200px, 60vw, 300px);
  margin: 5vmax;
}

.pagination-btn {
  height: clamp(40px, 70%, 60px);
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-5);
}

.pagination-btn > svg {
  width: 80%;
  height: 80%;
  margin: 10%;
}

/*стилі для альбомноі орієнтаціі*/
@media (orientation: landscape) {
}

