.container-sort-anime {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  height: max-content;
}

#container-sort-year {
  grid-template-columns: repeat(5, 1fr);
}

.btn-sort {
  width: 90%;
  min-height: clamp(30px, 5vh, 50px);
  max-height: max-content;
  border-radius: 10px;
  margin: clamp(6px, 1.5vw, 12px) auto;
  background: var(--gradient-3);
  overflow-wrap: break-word;
  padding: clamp(5px, 1vmin, 10px);
  
  &:hover {
    background: var(--gradient-5) !important;
    transform: scale(0.9);
  }
}


/*для альбомногл режиму*/
@media (orientation: landscape) {
  .container-sort-anime {
    grid-template-columns: repeat(6, 1fr);
  }
  
  #container-sort-year {
    grid-template-columns: repeat(10, 1fr);
  }
}