#page-anime {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

#name-viewing-anime {
  margin: auto 5% auto 5%;
}

#container-info-anime-1 {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  text-align: center;
  justify-items: center;
}

#container-info-anime-2 {
  border-radius: 10px;
  width: 90%;
  border-left: var(--border-2);
  background: var(--gradient-1);
  padding: 0 5% 0 5%;
}
#container-info-anime-2 > p {
  display: block;
  width: 100%;
  height: max-content;
  padding: 2vmin;
  border-radius: 10px;
}
#container-info-anime-2 > p:nth-child(2n) {
  background: var(--gradient-3);
}

#details-anime {
  margin: 50px 5%;
  width: 90%;
  border-radius: 10px;
  border-left: var(--border-1);
  background: var(--gradient-1);
  padding: 18px clamp(10px, 5%, 15px);
}

#details-anime[open] #summary-anime {
  margin-bottom: 18px;
}

#video {
  width: 90%;
  min-height: clamp(250px, 60vmin, 500px);
  max-height: max-content;
  margin: auto auto 25vmin auto;
  border-radius: 10px;
}

/*альбомні стилі*/
@media (orientation: landscape) {
  #container-info-anime-1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
  }
}