/*стилі для книжноі орієнтаціі*/
#weblite {
  position: relative;
  background: var(--gradient-7);
}


/*елементи головного банера*/
#top-banner {
  height: clamp(50px, 10vh, 90px);
  flex-direction: row;
  background: var(--gradient-1);
  box-shadow: 0 0 2.5vh 2.5vh var(--color-1);
  border-bottom: var(--border-1);
  z-index: 99;
  padding: 0 2.5vw;
  justify-content: space-between;
}

#logo-container {
  width: max-content;
  height: 80%;
  flex-direction: row;
}
#logo-img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}
#logo-text {
  margin: 0 0 0 clamp(3px, 1vw, 6px);
  background: var(--gradient-10);
  background-clip: text;
  color: transparent;
}

#cont-btn-main-banner {
  width: max-content;
  flex-direction: row;
}

#btn-theme {
  height: 70%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-6);
}
#img-btn-theme {
  width: 75%;
  height: 75%;
  background-image: url(../img/style/light-theme.svg);
}


/*елементи нижнього банера*/
#bottom-banner {
  height: clamp(40px, 8vh, 80px);
  position: fixed;
  bottom: 0;
  z-index: 99;
  flex-direction: row;
  background: var(--gradient-2);
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.btn-bottom-banner,
.btn-top-banner {
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 0 0 clamp(10px, 2vw, 15px);
  background: var(--gradient-3);
}
.btn-top-banner {
  display: none;
}


/*активна кнопка*/
#btn-main-page {
  background: var(--gradient-5);
}

.btn-bottom-banner > img,
.btn-bottom-banner > svg {
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
}

#btn-top-page,
#btn-bottom-page {
  position: fixed;
  bottom: 30%;
  right: 2vh;
  height: clamp(40px, 7vh, 60px);
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-5);
  z-index: 9999;
  cursor: pointer;
}
#btn-bottom-page {
  bottom: 20%;
}
#btn-top-page {
  display: none;
}
#btn-top-page > svg,
#btn-bottom-page > svg {
  width: 80%;
  height: 80%;
  margin: 10%;
  pointer-events: none;
}

#content-container {
  height: auto;
  flex: 1;
  overflow: hidden;
}



/*стилі для альбомноі орієнтації*/
@media (orientation: landscape) {
  /*bottom banner*/
  #bottom-banner {
    display: none;
  }
  
  .btn-top-banner {
    display: flex;
  }
  
  #btn-top-page {
    bottom: 40%;
  }
  #btn-bottom-page {
    bottom: 20%;
  }
  
  
  /*top banner*/
  #logo-container {
    height: 80%;
    position: static;
    margin: 0 clamp(10px, 2vw, 15px) 0 0;
  }
  
  #btn-theme {
    position: static;
    height: 80%;
    margin: 0 0 0 clamp(10px, 2vw, 15px);
  }
}