[data-theme="dark"] {
  --border: 1px solid var(--grey-700);
  
  --text: var(--white-100);
  --footer-copy-txt: var(--grey-300);
  
  --general-bg: var(--black-950);
  --wrap-top-anime-bg: var(--black-950);
  --footer-copy-logo-bg: var(--grey-600-a30);
  
  --btn-bg: var(--black-900);
  --anime-info-span-bg: var(--black-900);
  --footer-copy-bg: var(--black-900);
  --search-wrap-bg: var(--black-900);
  --wrap-scroll-progress-bg: var(--black-900);
  --anime-wrap-bg: var(--black-900);
  --anime-description-bg: var(--black-900);
  --anime-info-wrap-bg: var(--black-900);
  
  --btn-box-shadow: var(--grey-500);
  --scroll-progress-box-shadow: var(--grey-500);
  
  
  /*projects*/
  --project-type-bg: var(--black-850);
  
  --status-alpha-color: var(--red-400);
  --status-alpha-bg: var(--black-850);
  --status-alpha-border-color: var(--red-400);
  
  --status-beta-color: var(--yellow-400);
  --status-beta-bg: var(--black-850);
  --status-beta-border-color: var(--yellow-400);
  
  
  --main-logo-gradient: linear-gradient(155deg, var(--magenta-200) 0%, var(--azure-200) 100%);
  
  --theme-img: url(../img/style/dark-theme.svg);
  
}
