:root {
  --border: 1px solid var(--grey-250);
  
  --text: var(--black-900);
  --footer-copy-txt: var(--grey-600);
  
  --general-bg: var(--white-50);
  --wrap-top-anime-bg: var(--white-50);
  --footer-copy-logo-bg: var(--grey-300-a30);
  
  --btn-bg: var(--white-100);
  --anime-info-span-bg: var(--white-100);
  --footer-copy-bg: var(--white-100);
  --search-wrap-bg: var(--white-100);
  --wrap-scroll-progress-bg: var(--white-100);
  --anime-wrap-bg: var(--white-100);
  --anime-description-bg: var(--white-100);
  --anime-info-wrap-bg: var(--white-100);
  
  --btn-box-shadow: var(--grey-300);
  --scroll-progress-box-shadow: var(--grey-300);
  
  
  /*projects*/
  --project-type-bg: var(--white-150);
  
  --status-alpha-color: var(--red-600);
  --status-alpha-bg: var(--white-150);
  --status-alpha-border-color: var(--red-600);
  
  --status-beta-color: var(--yellow-700);
  --status-beta-bg: var(--white-150);
  --status-beta-border-color: var(--yellow-700);
  
  
  --main-logo-gradient: linear-gradient(155deg, var(--violet-700) 0%, var(--magenta-800) 100%);
  
  --theme-img: url(../img/style/light-theme.svg);
  
}

