/*css змінні*/
/*світла тема*/
:root {
  /*обводка головного банера*/
  --border-1: 1.5px solid hsla(270, 100%, 70%, 1);
  /*обводка всього*/
  --border-2: 1.5px solid hsla(0, 100%, 80%, 1);
  
  --color-000: #000;
  --color-333: #333;
  
  /*тінь банера*/
  --color-1: hsla(260, 100%, 80%, 0.7);
  
  /*головний банер*/
  --gradient-1: linear-gradient(175deg, hsla(200, 100%, 90%, 1) 0%, hsla(270, 100%, 80%, 1) 90%);
  
  /*нижній банер*/
  --gradient-2: linear-gradient(155deg, hsla(200, 100%, 90%, 0.3) 0%, hsla(260, 100%, 90%, 0.3) 90%);
  
  /*фон btn нижнього банера*/
  --gradient-3: linear-gradient(155deg, hsla(180, 100%, 90%, 1) 0%, hsla(220, 100%, 80%, 1) 100%);
  
  /*фон топ та подібного*/
  --gradient-4: linear-gradient(155deg, hsla(0, 100%, 95%, 1), hsla(300, 100%, 90%, 1));
  
  /*фон активних btn нижнього банера, та інших btn*/
  --gradient-5: linear-gradient(155deg, hsla(200, 100%, 80%, 1) 0%, hsla(270, 100%, 70%, 1) 100%);
  
  /*фон к. світла /темна тема*/
  --gradient-6: linear-gradient(155deg, hsla(0, 100%, 100%, 1) 0%, hsla(0, 100%, 90%, 1) 90%);
  
  /*фон всього сайта*/
  --gradient-7: 
    radial-gradient(at 50% 50%, hsla(0, 100%, 90%, 0.5) 0%, transparent 70%),
    linear-gradient(155deg, hsla(0, 100%, 100%, 1), hsla(260, 100%, 100%, 1));
  
  /*фон всі права захищені*/
  --gradient-8: linear-gradient(155deg, hsla(200, 100%, 90%, 1) 0%, hsla(300, 100%, 80%, 1) 90%);
  
  /*фон показників аніме*/
  --gradient-9: linear-gradient(155deg, hsla(0, 100%, 90%, 1) 0%, hsla(300, 100%, 80%, 1) 100%);
  
  /*фон логотипа*/
  --gradient-10: linear-gradient(155deg, hsla(260, 100%, 30%, 1) 0%, hsla(300, 100%, 20%, 1) 100%);
}


/*темна тема*/
[data-theme="dark"] {
  /*обводка головного банера*/
  --border-1: 1.5px solid hsla(270, 100%, 20%, 1);
  /*обводка всього*/
  --border-2: 1.5px solid hsla(220, 100%, 30%, 1);
  
  --color-000: #fff;
  --color-333: #999;
  
  /*тінь банера*/
  --color-1: hsla(270, 100%, 5%, 1);
  
  /*головний банер*/
  --gradient-1: linear-gradient(175deg, hsla(200, 100%, 20%, 1) 0%, hsla(300, 100%, 10%, 1) 100%);
  
  /*нижній банер*/
  --gradient-2: linear-gradient(155deg, hsla(200, 100%, 20%, 0.3) 0%, hsla(260, 100%, 20%, 0.3) 90%);
  
  /*фон btn нижнього банера*/
  --gradient-3: linear-gradient(155deg, hsla(200, 100%, 30%, 1) 0%, hsla(260, 100%, 20%, 1) 100%);
  
  /*фон топ та подібного*/
  --gradient-4: linear-gradient(155deg, hsla(270, 100%, 10%, 1), hsla(200, 100%, 5%, 1));
  
  /*фон активних btn нижнього банера, та інших btn*/
  --gradient-5: linear-gradient(155deg, hsla(180, 100%, 30%, 1) 0%, hsla(220, 100%, 20%, 1) 100%);
  
  /*фон к. світла /темна тема*/
  --gradient-6: linear-gradient(135deg, hsla(200, 100%, 40%, 1), hsla(270, 100%, 30%, 1));
  
  /*фон всього сайта*/
  --gradient-7: 
    radial-gradient(at 50% 50%, hsla(200, 100%, 20%, 0.5) 0%, transparent 70%),
    linear-gradient(155deg, hsla(0, 100%, 0%, 1), hsla(260, 100%, 0%, 1));
  
  /*фон всі права захищені*/
  --gradient-8: linear-gradient(155deg, hsla(200, 100%, 20%, 1) 0%, hsla(300, 100%, 10%, 1) 90%);
  
  /*фон показників аніме*/
  --gradient-9: linear-gradient(155deg, hsla(260, 100%, 20%, 1) 0%, hsla(200, 100%, 10%, 1) 100%);
  
  /*фон логотипа*/
  --gradient-10: linear-gradient(155deg, hsla(300, 100%, 80%, 1) 0%, hsla(200, 100%, 80%, 1) 100%);
  
}




